.container {
  border-radius: 5px;
  color: #2a1b0a;
}

.boxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  height: fit-content;
}

.box {
  position: relative;
  overflow: hidden;
  width: fit-content;
  padding: 5px;
  background: url("/bg/wood-light.jpg") center/cover no-repeat;
  border-radius: 12px;
  border: 12px solid transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow:
    inset 3px 3px 6px rgba(0, 0, 0, 0.4),
    5px 5px 10px rgba(0, 0, 0, 0.3);
  background-image:
    url("/bg/wood-light.jpg"),
    url("/bg/wood-light-2.jpg");
  
}