.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  color: var(--color-main);
  font-family: var(--font-family);
}

.button {
  padding: 8px 14px;
  margin: 0 4px;
  font-size: 1rem;
  border: 2px solid var(--color-main);
  background: var(--color-invert);
  cursor: pointer;
  border-radius: 6px;
  color: var(--color-main);
  font-weight: bold;
}

.button:hover:not(.active) {
  background: var(--color-invert-hover);
}

.active {
  background: var(--color-main);
  color: var(--color-invert);
  font-weight: bold;
}
